@use 'theme';

#addTimeBox {
    background-color: theme.$base-color;
    position: absolute;
    color: black;
    float: left;
    padding: 1%;
    transform: translateX(40%);
    text-align: left;
    width: 25%;
}

#addTimeBoxConstrained {
    background-color: theme.$base-color;
    position: absolute;
    color: black;
    float: left;
    padding: 1%;
    transform: translateX(-110%);
    text-align: left;
    z-index: 998;
    width: 25%;
}

#addTimeBox h5, #addTimeBoxConstrained h5  {
    font-family: 'Lato', sans-serif;
    text-align: left;
    display: block;
    width: 100%;
}

#addTimeBox input, #addTimeBoxConstrained input {
    flex: 1;
}

#addTimeBoxButton {
    background-color: black;
    color: white;
}

#addTimeBox #timeBoxBubble {
    position: absolute !important;
    top: 0;
    left: -8vw;
    width: 0;
    height: 0;
    border-left: 9vw solid transparent;
    border-top: 20px solid theme.$base-color;
}

#addTimeBoxConstrained #timeBoxBubble {
    position: absolute !important;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-right: 9vw solid transparent;
    border-top: 20px solid theme.$base-color;
}

#addTimeBoxExitButton {
    float: right;
    background-color: theme.$base-color;
    border: none;
    font-size: larger;
}

#addTimeBoxButton {
    width: 100%;
}

#placeholderTimeBox {
    background-color: theme.$base-color;
    color: black;
    position: relative;
}

#goal {
    width: 89%;
}

#boxes {
    width: 85%;
}

#description {
    width: 74%;
}

#title {
    width: 90%;
}

@media only screen and (max-width: 992px) {
    #addTimeBox {
        transform: translateX(60%);
    }
}

@media only screen and (max-width: 576px) {
    #addTimeBox, #addTimeBoxConstrained {
        left: 15%;
        z-index: 999;
        width: 70%;
        transform: none;
    }

    #timeBoxBubble {
        display: none;
    }
}