@font-face {
    font-family: 'Koulen';
    src: url('/Koulen-Regular.ttf');
}

.dialogTitle {
    font-family: 'Koulen' !important;
    font-size: 1.5em !important;
    color: white;
}

.numberOfBoxesLabel {
    font-family: Kameron, sans-serif !important;
    color: white
}
