@use 'theme';

#createFirstScheduleModal {
    .modal-header, .modal-header button, .modal-body  {
        background-color: theme.$base-color;
    }

    .modal-header, label {
        border-bottom: none;
        font-family: 'Lato', sans-serif;
    }

    label {
        margin-right: 3px;
        margin-bottom: 3px;
    }

    .modal-header {
        font-weight: bold;
    }

    .modal-body button {
        background-color: black;
        color: white;
        font-size: larger;
        width: 50%;
    }
}