.welcomeTitle {
    font-family: Kameron, serif;
    font-size: 2em;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.levelTitle {
    font-family: Kameron, serif;
    font-size: 1.6em;
    color: black;
    margin-top: 20px;
    text-align: center;
}

