@use 'theme';
.goalLine {
    max-width: 500px;
}

.goalCard {
    background-color: theme.$base-color;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-direction: column;
    width: fit-content
}

.goalCardTitle {
    font-family: 'Koulen';
    font-size: 2em;
    color: white;
}

.goalCard span {
    display: block;
}

.goalCardUndertext {
    font-family: 'Koulen';
    font-size: 1em;
    color: white;
}

.goalLine {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.addGoalToLineButton {
    background-color: black;
    color: white;
}

.viewHeading {
    margin-top: 30px;
}