@use 'theme';

.boxNavbar {
    background-color: theme.$base-color;
    padding: 0;
}

.nav-link {
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    color: black;
}

#signInButton {
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 5px;
}

#userButton {
    margin-right: 10px;
}

#userButton img {
    border-radius: 50%;
    border: 2px solid black;
}

.navbar-right {
    margin-left: 85%;
}

.accountImageAlt {
    display: none;
}

@media only screen and (max-width: 992px) {
    .accountImageAlt {
        display: block;
    }

    #userButton img { 
        display: none; 
    }
}

.userCard {
    position: absolute;
    background-color: black;
    color: white;
    transform: translate(-100%, 100%);
    padding: 20px;
    border-radius: 25px;
    z-index: 999;
    width: max-content;
    padding-top: 10px;
}

.userCard h5 {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
}

.signOutButton {
    background-color: theme.$base-color;
    font-family: 'Roboto';
    border: 0px;
}

.closeUserCard {
    float: right;
    border: 0;
    color: white;
    background: black;
    font-size: 25px;
    margin: 0;
}