@use 'theme';

.boxNavbar {
    background-color: theme.$base-color;
    padding: 0;
}

.nav-link {
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    color: black;
}

#signInButton {
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 5px;
}

#userButton {
    margin-right: 10px;
}

#userButton img {
    border-radius: 50%;
    border: 2px solid black;
}

.navbar-right {
    margin-left: 85%;
}