@use 'theme';

.schedulesSidebar {
    background-color: theme.$base-color;
    height: 100%;
}

.sidebarHeading {
    font-size: 1.65vw;
    font-family: 'Lato', sans-serif;
    color: black;
    border-bottom: 1px black solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0;
}

.schedule {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-bottom: 1px black solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
}

.schedule .createButton {
    margin: 0px -10px -5px -10px;
    width: calc(100% + 20px);
    border-top: 1px solid black;
    padding-left: 20px;
}

.selectedSchedule {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-bottom: 3px theme.$selection-color solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    background-color: #8B8EB2;
}

.selectedSchedule .createButton {
    margin: 0px -10px -5px -10px;
    width: calc(100% + 20px);
    border-top: 1px solid black;
    padding-left: 20px;
}

.createButton {
    color: white;
    background-color: black;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 100%;
    border-radius: 0;
    border: 0;
}

.goalButton {
    border-top: 1px black solid;
    padding: 5px 10px 0px 20px;
    width: calc(100% + 20px);
    background-color: theme.$base-color;
    margin-left: -10px;
}

.minimizeButton {
    height: 1.8vw;
    width: auto;
    float: right
}

.expandButton {
    height: 1.8vw;
    width: auto;
}

.mobileSideBar {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 999;

    .sidebarHeading {
        font-size: 3vw;
    }

    .minimizeButton {
        height: 2.8vw;
    }
}

@keyframes disappear {
    100% {transform: translateX(-100%); display: none;}
}

@keyframes appear {
    0% {transform: translateX(-100%); display: none;}
    100% {transform: translateX(0);}
}

#animateToDisappear {
    animation-name: disappear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#animateToAppear {
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.sidebarExpandableButton {
    height: 1.85vh;
    float: right;
}

.sidebarExpandableTitle {
    width: 70%;
    display: inline-block;
    word-wrap: break-word;
}

.sidebarExpandableButtons {
    display: inline;
}

.sidebarTimeBox {
    border-top: 1px black solid;
    padding: 5px 10px 5px 40px;
    width: calc(100% + 30px);
    background-color: theme.$main-selection-color;
    margin-left: -20px;
}

.goalButton .sidebarExpandableTitle {
    padding-left: 5%;
}

@media only screen and (max-width: 576px) {
    .mobileSideBar .sidebarHeading {
        font-size: medium;
    }

    .mobileSideBar .minimizeButton {
        height: 15px;
    }
}

@media only screen and (max-width: 380px) { //max width this application supports is 320px
    .mobileSideBar {
        width: 75%;
    }
}