@use 'theme';

#schedulesSidebar {
    background-color: theme.$base-color;
    height: 100%;
}

.sidebarHeading {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: black;
    border-bottom: 1px black solid;
    padding: 5px 10px 5px 10px;
}

.schedule {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-bottom: 1px black solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
}

.schedule .createButton {
    margin: 0px -10px -5px -10px;
    width: calc(100% + 20px);
    border-top: 1px solid black;
    padding-left: 20px;
}

.scheduleButton {
    height: 2vh;
    float: right;
}

.createButton {
    color: black;
    background-color: #CAFBE8;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 100%;
    border-radius: 0;
    border: 0;
}

.areaButton {
    border-top: 1px black solid;
    padding: 5px 10px 5px 20px;
    width: calc(100% + 20px);
    margin-left: -10px;
}