.signInCard h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.signInCard {
    background-color: #875F9A;
    padding: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    height: fit-content;
    margin-top: 10%;
    border: 0;
}

.signInCard .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: block;
}

.signInCard .dialogTitle {
    font-family: 'Koulen' !important;
    font-size: 1.7em !important;
    color: white;
}

.alternateActions button {
    border: 0;
    font-family: Kameron, sans-serif;
    background-color: #875F9A;
    margin-top: 5%;
    font-size: 1em;
    color: white;
}

.forgetPasswordButton {
    margin-right: 40px;
}

.passwordErrorMessage {
    width: 36ch;
    word-wrap: break-word;
}

.goBack {
    display: block;
    margin-left: auto;
    margin-right: auto;
}